## files to ignore
connect-four-naive
*.txt
*.rkt~
*.userprefs
*.usertasks
*.exe
*.exe.mdb

## competitors directory
other_student_players/

## binary files directory
ArenivarConnectFourPlayer/ArenivarConnectFourPlayer/bin/
ArenivarConnectFourPlayer/ArenivarConnectFourPlayer/obj/

